<!DOCTYPE html>
<html>
<head>
	<title>Student_Details Form</title>
</head>
<body>
<table border="1" height="500px" width="50%" align="center">
	<tr>
		<th colspan="2"><h2>Enter Family Details</h2>
		</th>
	</tr>
	<tr>
		<th><label for="firstname"><b>First_Name :</b></label></th>
		<th><input type="text" name=""></th>
	</tr>
	<tr>
		<th><label for="lastname"><b>Last_Name :</b></label></th>
		<th><input type="text" name=""></th>
	</tr>
	<tr>
		<th>Occupation</th>
		<th><input type="text"></th>
	</tr>
	<tr>
		<th><label for="Relation"><b>Relation</b></label></th>
		<th>
			<select>
				<option>Select Option</option>
				<option>Father</option>
				<option>Mother</option>
				<option>Guardian</option>
				<option>Others</option>
			</select>
			<!-- <input type="text"> -->
		</th>
	</tr>
	<tr>
		<th>Gender :</th>
		<th><input type="radio" name="Gender">Male
		<input type="radio" name="Gender">Female</th>
	</tr>
	<tr>
		<th>DOB :</th>
		<th><input type="date"></th>
	</tr>
	<tr>
		<th colspan="2">
		<input type="Reset" style="background-color:#dc8c66">
		<button type="Submit" style="background-color:#1cb0c3;"><a href="add_govt_details.html">Next</a></button>
		</th>
	</tr>
</table>
</body>
</html>