{% load static %}
<body>
  {% include "header.html" %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
			<br><br>
			<h3 align="center" style="color: ivory;">Enter Student Details</h3>
			<form method="POST" action="/add_student/" enctype="multipart/form-data">
				{% csrf_token %}
				<table style="color: ivory;">
					<tr>
						<td><label for="firstname"><b>First_Name</b></label></td>
						<td><input type="text" name="First_Name"></td>
					</tr>
					<tr>
						<td><label for="lastname"><b>Last_Name</b></label></td>
						<td><input type="text" name="Last_Name"></td>
					</tr>
					<tr>
						<td><label for="email"><b>Mail</b></label></td>
						<td><input type="email" name="Mail"></td>
					</tr>
					<tr>
						<td><label for="image"><b>Image</b></label></td>
						<td><input type="file" name="Image"></td>
					</tr>
					<tr>
						<td>Gender</td>
						<td><input type="radio" name="Gender" value="Male">Male
						<input type="radio" name="Gender" value="Female">Female</td>
					</tr>
					<tr>
						<td>Mobile Number</td>
						<td><input type="text" placeholder="89197*****" name="Phone"></td>
					</tr>
					<tr>
						<td>DOB</td>
						<td><input type="date" name="Dob"></td>
					</tr>
					<tr>
						<td>Surname</td>
						<td><input type="text" name="Surname"></td>
					</tr>
					<tr>
						<td>Address</td>
						<td><textarea name="Address"></textarea></td>
					</tr>
					<tr>
						<td>
							<input type="Reset" style="background-color:#dc8c66">
						</td>
						<td>
							<input type="Submit" style="background-color:#1cb0c3;" value="Next">
						</td>
					</tr>
				</table>
			</form>
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->
  {% include "footer.html" %}
</body>