{% load static %}
<body>
  {% include "header.html" %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
			<br><br>
			<h3 align="center" style="color: ivory;">Enter Education Details</h3>
			<form method="POST" action='/add_education/'>
				{% csrf_token %}
				<input type="hidden" name="Mail" value="{{student_mail}}">
				<table style="color: ivory;">
					<tr>
						<td><label for="degree"><b>Degree</b></label></td>
							<td>
								<select name="Degree">
									<option>Select Your Option</option>
									{% if edu.degree == "Degree/B.com/BSc" %}
										<option selected="selected">Degree/B.com/BSc</option>
									{% else %}
										<option>Degree/B.com/BSc</option>
									{% endif %}
									{% if edu.degree == "B.Tech/B.E" %}
										<option selected="selected">B.Tech/B.E</option>
									{% else %}
										<option>B.Tech/B.E</option>
									{% endif %}
									{% if edu.degree == "M.Tech" %}
										<option selected="selected">M.Tech</option>
									{% else %}
										<option>M.Tech</option>	
									{% endif %}
									{% if edu.degree == "MBA/MCA" %}
										<option selected="selected">MBA/MCA</option>
									{% else %}
										<option>MBA/MCA</option>	
									{% endif %}
								</select>
							</td>
					</tr>
					<tr>
						<td><label for="passed_out_year"><b>Passed_Out_Year</b></label></td>
						<td><input type="date" name="Pass_out_year" value="{{edu.pass_out_year}}"></td>
					</tr>
					<tr>
						<td>Percentage</td>
						<td><input type="text" placeholder="Enter Your Percentage" name="Percentage" value="{{edu.percentage}}"></td>
					</tr>
					<tr>
						<td>College_Name</td>
						<td><input type="text" placeholder="Enter Your College_Name" name="College_name" value="{{edu.college_name}}"></td>
					</tr>
					<tr>
						<td>University_Name</td>
						<td><input type="text" placeholder="Enter Your University_Name" name="University_name" value="{{edu.university_name}}"></td>
					</tr>
					<tr>
						<td>Location</td>
						<td><input type="text" placeholder="Enter Your Location" name="Location" value="{{edu.location}}"></td>
					</tr>
					<tr>
						<td>
							Want to add more?
						</td>
						<td>
							<input type="checkbox" name="Add_More" value="Add_New">
						</td>
					</tr>
					<tr>
						<td>
							<input type="Reset" style="background-color:#dc8c66">
						</td>
						<td>
							<input type="Submit" style="background-color:#1cb0c3;" value="Next">
						</td>
					</tr>
				</table>
			</form>
        </div>
      </div>
    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->
  {% include "footer.html" %}
</body>
