<!DOCTYPE html>
<html>
<head>
	<title>Student_Details Form</title>
</head>
<body>
<table border="1" height="500px" width="50%" align="center">
	<tr>
		<th colspan="2"><h2>Enter Project Details</h2>
		</th>
	</tr>
	<tr>
		<th><label for="Project_Name"><b>Project_Name</b></label></th>
		<th><input type="text"></th>
	</tr>
	<tr>
		<th>Start_date</th>
		<th><input type="date"></th>
	</tr>
	<tr>
		<th>End_Date</th>
		<th><input type="date"></th>
	</tr>
<!-- 	<tr>
		<th>University_Name</th>
		<th><input type="text" placeholder="Enter Your University_Name"></th>
	</tr> -->
	<tr>
		<th>Team_Size</th>
		<th><input type="number"></th></th>
	</tr>
	<tr>
		<th colspan="2">
		<input type="Reset" style="background-color:#dc8c66">
		<button type="Submit" style="background-color:#1cb0c3;"><a href="add_consultancy.html">Next</a></button>
		</th>
	</tr>
</table>
</body>
</html>